
/*================================================
=            Base application styles,            =
================================================*/

//  This file should only contain element selectors

@include border-box-sizing;

img {
  max-width: 100%;
}

body {
  font-family: $alt-font-family;
  background: url('../images/p6.png');
  line-height: 1.5;
}

header {
  background: $white;
  @include clearfix;
}

h1 {
	font-size: 2rem;
	font-family: $primary-font-family;
  color: #333333;
}

a {
  @include link-defaults($color: palette(main, link-color), $font-family: $alt-font-family);
}

[class*="button"] {
  text-transform: capitalize;
}
