
/*================================================
=            Base application styles,            =
================================================*/

//  This file should only contain element selectors

@include border-box-sizing;

body {
  font-family: $primary-font-family;
  background: $white;
}

a {
  @include link-defaults($color: palette(main, link-color), $font-family: $alt-font-family);
}

[class*="button"] {
  text-transform: capitalize;
}
