
/*================================================
=            Base application styles,            =
================================================*/

//  This file should only contain element selectors

@include border-box-sizing;

body {
  font-family: $alt-font-family;
  background: $app-background;
  padding: 0 30px;
  line-height: 1.5;
}

h1 {
	font-size: 3rem;
	font-family: $primary-font-family;
}

a {
  @include link-defaults($color: palette(main, link-color), $font-family: $alt-font-family);
}

[class*="button"] {
  text-transform: capitalize;
}
