
/*==========================================================
=            Main color pallettes and variables            =
==========================================================*/

// define main colors and palletes in this file

// Define base colors

$white: #ffffff;
$black: #000000;

// define main site palette

$mustard: #d68a10;
$olive: #433D2A;
$buttercream: #fffae2;
$bloodstone: #521309;
$firehouse: #cc2e22;

// Define color sets


$palettes: (
  grayscale: (
    xx-light: lighten($black, 90%),
    x-light: lighten($black, 80%),
    light: lighten($black, 70%),
    lt-base: lighten($black, 60%),
    base: lighten($black, 50%),
    dk-base: lighten($black, 40%),
    dark: lighten($black, 30%),
    x-dark: lighten($black, 20%),
    xx-dark: lighten($black, 10%)
    ),
  main: (
    callout: $firehouse,
    link-color: $firehouse,
    nav-link-color: $olive,
    cancel: $bloodstone
    ),
  buttons: (
    primary: $mustard,
    secondary: $olive,
    cancel: $bloodstone,
    info: $firehouse
    )
  );
