
/*==========================================================
=            Main color pallettes and variables            =
==========================================================*/

// define main colors and palletes in this file

// Define base colors

$white: #ffffff;
$black: #000000;

// define main site palette

$mustard: #d68a10;
$olive: #433D2A;
$buttercream: #fffae2;
$bloodstone: #521309;
$firehouse: #cc2e22;

// Define color sets
$buttons: (
  primary: $mustard,
  secondary: $olive,
  cancel: $bloodstone,
  info: $firehouse
  );

$palettes: (
  grayscale: (
    xx-light: lighten(#000000, 90%),
    x-light: lighten(#000000, 80%),
    light: lighten(#000000, 70%),
    lt-base: lighten(#000000, 60%),
    base: lighten(#000000, 50%),
    dk-base: lighten(#000000, 40%),
    dark: lighten(#000000, 30%),
    x-dark: lighten(#000000, 20%),
    xx-dark: lighten(#000000, 10%)
    ),
  main: (
    callout: $firehouse,
    link-color: $firehouse,
    nav-link-color: $olive,
    cancel: $bloodstone
    )
  );
