
/*==========================================================
=            Main color pallettes and variables            =
==========================================================*/

// ========
// define main colors and palletes in this file
// ========

// Define base colors

$white: #ffffff;
$black: #000000;

// Define colors for making color maps

$white: #ffffff;
$black: #000000;
$mint-green: #DEF4E5;
$lilac: #DCE0F2;
$sea-green: #DCF0EF;
$pale-orange: #FFE3DB;
$latte-foam: #F8EDD0;
$light-gray: #EAEBEC;
$cucumber: #C5E2CE;
$powder-blue: #D6EEF5;
$blue-green: #105B63;
$mustard: #FFD34E;
$rust: #BD4932;

// Define color sets

$palettes: (
  grayscale: (
    xx-light: lighten($black, 90%),
    x-light: lighten($black, 80%),
    light: lighten($black, 70%),
    lt-base: lighten($black, 60%),
    base: lighten($black, 50%),
    dk-base: lighten($black, 40%),
    dark: lighten($black, 30%),
    x-dark: lighten($black, 20%),
    xx-dark: lighten($black, 10%)
    ),
  main: (
    infoHover: $blue-green,
    callout: slategray,
    link-color: $rust,
    nav-link-color: $powder-blue,
    cancel: $blue-green
    ),
  buttons: (
    primary: $mustard,
    secondary: $sea-green,
    cancel: $cucumber,
    info: $blue-green
    )
  );
