@import 'colors';

/*==============================================
=            Application variables             =
==============================================*/

// Define the responsive grid settings

$susy: (
  columns: 12,
  gutter: 1/4,
  container: 1200px,
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

// Defines the breakpoints for responsive design

$small-tablet: max-width 700px;
$tablet: 700px;
$desktop: 1200px;

$app-background: $white;

// Font Families

$headline-font-family: 'jubilat', Georgia, serif;
$primary-font-family: 'proxima-nova-alt', 'Helvetica', Verdana, sans-serif;
$alt-font-family: 'proxima-nova-alt', 'Helvetica', Verdana, sans-serif;


