@import 'colors';

/*==============================================
=            Application variables             =
==============================================*/

// Define the responsive grid settings

$susy: (
  columns: 12,
  gutter: 1/4,
  container: 1600px,
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

// Defines the breakpoints for responsive design

$mobile: 480px;
$small-tablet: 700px;
$tablet: 768px;
$desktop: 1200px;
$lg-desktop: 1600px;

$app-background: $powder-blue;

// Font Families

$headline-font-family: 'jubilat', Georgia, serif;
$primary-font-family: 'proxima-nova-alt', 'Helvetica', Verdana, sans-serif;
$alt-font-family: 'proxima-nova-alt', 'Helvetica', Verdana, sans-serif;


