
/*=========================================
=            Main layout rules            =
=========================================*/

//////////////////////////////////////////////////////////

// Define styles for grid layout, this is only to define
// layout rules, no other styles should be implemented here.

///////////////////////////////////////////////////////////


// Main site component layout rules

.header-content {
  @extend %container-defaults;
  @include breakpoint(max-width $lg-desktop) {
    margin: 0 20px;
  }
}

.content-container {
  @include breakpoint(max-width $lg-desktop) {
    margin: 30px 20px 0;
  }
}

.branding {
  @include breakpoint(min-width $desktop) {
    @include span(6);
  }
  @include breakpoint(min-width $tablet) {
    @include span(6);
  }
  @include breakpoint($mobile $small-tablet) {
    @include span(12);
  }
  &-elements {
    &-name {
      @include breakpoint($small-tablet) {
        margin: 20px 0;
      }
    }
  }
}

.main-nav {
  @include breakpoint(min-width $desktop) {
    @include span(6 last);
  }
  @include breakpoint(min-width $tablet) {
    @include span(6 last);
  }
  @include breakpoint($mobile $small-tablet) {
    @include span(12);
  }
}

.content-container {
  @extend %container-defaults;
}

.nav-list {
  @extend %container-defaults;
}

.welcome-wrapper {
  @include span(12);
  @include breakpoint(max-width $mobile) {
    display: none;
  }
}

.port-overview {
  @include span(6 last);
  @include breakpoint(max-width $small-tablet) {
    display: none;
  }
}

.port-item {
  @include breakpoint(min-width $desktop) {
    @include gallery(4);
    margin-bottom: gutter();
  }
  @include breakpoint($tablet $desktop) {
    @include gallery(6);
    margin-bottom: gutter();
  }
  @include breakpoint($mobile $small-tablet) {
    @include full;
    margin-bottom: gutter();
  }
}

.port-item-details {
  @include span(5 of 12);
}

.port-snapshot-images {
  @include span(6 of 12);
}

.snapshot-image {
  margin-bottom: gutter();
}

.footer-content {
  @extend %container-defaults;
}

.social-icons, .copyright-info {
  @include span(6);
}

.copyright-info {
  @include last;
}
