/*========================================
=            Main Style Rules            =
========================================*/

////////////////////////////////////////////////

// Use this file to write all custom style rules

////////////////////////////////////////////////


.container {
  background: $app-background;
  position: relative;
}

.main-header {
  position: absolute;
  top: 0;
  bottom: 0;
  background: $autumn-gourd;
  color: $white;
}

.main-footer {
  text-align: center;
  padding: 20px;
  font-family: $alt-font-family;
  font-size: .7rem;
}

.app-body {
  padding: 20px;
}

.app-header {
  .info-button {
    width: 10%;
    float: left;
  }
}

.app-info-bar {
  background: $fallen-leaves;
  border-radius: 5px 0 0 5px;
  margin-right: -20px;
  width: 50%;
  float: right;
  font-size: .8rem;
  &-item {
    display: inline-block;
    padding: 10px;
    font-family: $alt-font-family;
    color: $autumn-gourd;
  }
}

.simple-nav {
  &-item {
    @extend %nav-item;
  }
}

.sidebar-nav {
  margin: 20px 0 0 0;
  &-item {
    padding: 20px 0 20px 30px;
    &-link {
      color: $white;
      font-family: $alt-font-family;
    }
  }
  .activeTab {
    background: $white;
    .sidebar-nav-item-link {
      color: palette(grayscale, dark);
    }
  }
}

.rounded-nav {
  @extend %rounded-nav-defaults;
  &-item {
    @extend %nav-item;
    .activeTab {
      @extend %nav-item-active;
    }
    &-link {
      @extend %nav-item-link;
    }
  }
}

.income-statement-table {
  margin-top: 20px;
}

.data-table {
  display: table;
  min-width: 50%;
  @include shadow-box($background-color: $white);
  &-row {
    display: table-row;
    &:nth-child(even) {
      background: palette(grayscale, xx-light);
    }
  }
  &-cell {
    display: table-cell;
    padding: 10px;
  }
}

.section-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.product-module {
  @include shadow-box($background-color: $white);
  margin-bottom: 15px;
  &-image {
    font-size: 5rem;
    text-align: center;
  }
  &-control {
    display: block;
  }
  &-age, &-release, &-cost {
    margin-bottom: 10px;
  }
  &-title {
    font-size: 1.3rem;
    font-weight: 700;
    float: left;
  }
  &-head {
    margin-bottom: 20px;
    clear: both;
  }
  &-info {
    // margin-right: 30px;
    &-item {
      padding: 5px 0;
    }
  }
  &-rating {
    font-size: .8rem;
    margin-left: 15px;
    color: $autumn-gourd;
    padding-bottom: 5px;;
  }
  .cancel-button {
    display: block;
    float: right;
  }
}

.cancel-link {
  font-size: .8rem;
  color: palette(main, cancel);
  border: 1px solid $white;
  border-radius: 5px;
  padding: 5px;
  display: block;
  float: right;
  transition: all .5s;
  &:hover {
    background: lighten(palette(main, cancel), 70%);
    border: 1px solid palette(main, cancel);
    border-radius: 5px;
    padding: 5px;
  }
}

.product-gallery {
  margin-top: 50px;
  border-bottom: 1px solid palette(grayscale, xx-light);
  margin-bottom: 20px;
  padding-bottom: 20px;
  &-header {
    border-bottom: 1px solid palette(grayscale, xx-light);
    margin-bottom: 20px;
  }
  &-price {
    margin-left: 30px;
  }
  .section-heading {
    float: left;
  }
  .secondary-button {
    float: right;
  }
}

.product-inputs {
  clear: both;
  margin-bottom: 30px;
}

.production-value, .capacity, .automated {
  margin-left: 30px;
}

.best-case-forecast {
  margin-left: 30px;
}

.int-product-select {
  @extend %product-select;
  float: left;
}

.ext-product-select {
  @extend %product-select;
  float: left;
}

.marketing-module {
  &-heading {
    margin-bottom: 10px;
    font-family: $alt-font-family;
  }
  &-decision {
    margin-bottom: 20px;
  }
  &-info {
    clear: both;
  }
  &-range {
    display: block;
    margin-top: 20px;
    width: 60%;
  }
}

.app-info, .add-product-form {
  position: absolute;
  width: 50%;
  height: 50%;
  @include shadow-box($background-color: $white);
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-product-form {
  input, select {
    display: block;
    margin-bottom: 10px;
  }
  label {
    float: left;
    width: 20%;
  }
}

.product-count {
  font-family: $alt-font-family;
  font-size: .8rem;
  margin-left: 30px;
}

.sales-team, .marketing-team {
  text-align: center;
}

.team-percentage {
  display: block;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.staff-warning {
  border: 1px solid palette(grayscale, xx-light);
  font-family: $alt-font-family;
  font-size: .8rem;
  line-height: 1.5;
  padding: 10px;
  clear: both;
  margin-top: 30px;
}

.company-investments {
  display: table;
  &-internal, &-external, &-loans {
    display: table-row;
  }
  &-item {
    display: table-cell;
  }
}

.human-resources-module, .plant-improvements-module, .corporate-mission-module {
  @include shadow-box($background-color: $white);
}

