/*====================================================================
=            Utility file containing functions and mixins            =
====================================================================*/

///////////////////////////////////////////////////////

// This file contains functions and mixins to generate
// dynamic styles and elements

///////////////////////////////////////////////////////


// Functions

@function palette($palette, $color) {
  @return map-get(map-get($palettes, $palette), $color);
}

// Mixins

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin comp-gen($palette) {
  @each $name, $color in map-get($palettes, $palette) {
    .#{$name}.#{$palette} {
      background: $color;
      color: $color;
      border: 1px solid $color;
      @if $name == disabled {
        cursor: not-allowed;
        &:hover {
          border: 1px solid $app-background;
        }
        &:active {
          background: $color;
          color: darken($color, 40%);
        }
      }
      @if $palette == alerts {
        border: 1px solid darken($color, 40%);
      }
      @content;
    }
  }
}

// ========
// Custom Button Creation Mixin
// -----
// generates classes to be applied to any html element
// ========

@mixin button-base() {
  @include comp-gen(buttons) {
    @extend %button-defaults;
    background: none;
  }
}

@mixin custom-buttons($map) {
  @include button-base();
  @each $button, $button-color in $map {
    .#{$button} {
      &:hover {
        border: 1px solid darken($button-color, 40%);
        color: darken($button-color, 40%);
      }
      &:active {
        background: darken($button-color, 30%);
        color: $white;
        transition: 0.1s;
      }
    }
  }
}

//builds ui component box containers for content

@mixin shadow-box($width: null, $color: null, $padding: 20px, $background-color: $white, $shadow-color: transparentize(palette(grayscale, x-dark), 0.5)) {
  width: $width;
  color: $color;
  padding: $padding;
  background: $background-color;
  box-shadow: 0px 1px 1px 0px $shadow-color;
}

@mixin nav-link-defaults($color: null, $font-weight: null, $padding: null, $display: inline-block, $font-family: $primary-font-family) {
  color: $color;
  font-weight: $font-weight;
  padding: $padding;
  display: $display;
  text-decoration: none;
  font-family: $font-family;
}
