<div class="content-container">
<!--   <h1>Total Courses Completed: {{treehouse.badges.length}}</h1>
<img ng-src="{{treehouse.badges[2].icon_url}}" height="60" width="55" alt="{{treehouse.badges[2].name}}">
<h3>{{treehouse.badges[2].name}}</h3>
<img ng-src="{{treehouse.badges[3].icon_url}} "height="60" width="55" alt="{{treehouse.badges[3].name}}">
<h3>{{treehouse.badges[3].name}}</h3>
<pre>{{treehouse | json}}</pre>
 -->

 <div class="badges" ng-repeat="badge in treehouse.badges">
   <img src="{{badge.icon_url}}" height="60" width="55" alt="">
   <h3 class="badge-name">{{badge.name}}</h3>
 </div>

 </div>
