
<div class="welcome-wrapper">
	<img class="port-image" src="../images/AboutMePic3.png" alt="photo of Garrett">

	<h1 class="section-title">Hi, I'm Garrett!</h1>

	<p class="port-overview">I love the web and making great products! <span class="small">If you would like to work together please download my <a class="port-overview-link" ng-href="files/GarrettKucinski_Resume2014.pdf">Resume</a> or visit me on <a class="port-overview-link" target="_blank" href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">LinkedIn</a> and get in touch! You can also find the source code for this site on my <a class="port-overview-link" target="_blank" href="https://github.com/GarrettDesigns">GitHub</a> page.</span></p>
</div>


<div class="portfolio" ng-controller="PortfolioController">
	<portfolio-item  ng-repeat="portItem in portfolio" item="portItem"></portfolio-item>
</div>
