
<city-weather timezone="{{chicago.timezone}}" icon="{{chicago.currently.icon}}" summary="{{chicago.currently.summary}}" temperature="{{chicago.currently.temperature}}" sunrise="{{chicago.daily.data[0].sunriseTime * 1000 | date: 'mediumTime'}}" sunset="{{chicago.daily.data[0].sunsetTime * 1000 | date:'mediumTime'}}" alerts="{{chicago.alerts}}"></city-weather>

<city-weather timezone="{{phoenix.timezone}}" summary="{{phoenix.currently.summary}}" temperature="{{phoenix.currently.temperature}}" sunrise="{{phoenix.daily.data[0].sunriseTime * 1000 | date: 'mediumTime'}}" sunset="{{phoenix.daily.data[0].sunsetTime * 1000 | date: 'mediumTime'}}" alerts="{{phoenix.alerts}}"></city-weather>

<city-weather timezone="{{southHaven.timezone}}" summary="{{southHaven.currently.summary}}" temperature="{{southHaven.currently.temperature}}" sunrise="{{southHaven.daily.data[0].sunriseTime * 1000 | date: 'mediumTime'}}" sunset="{{southHaven.daily.data[0].sunsetTime * 1000 | date: 'mediumTime'}}" alerts="{{southHaven.alerts}}"></city-weather>


