<div class="content-container">
	<div class="welcome-wrapper">
		<!-- <img class="port-image" src="../images/AboutMePic3.png" alt="photo of Garrett"> -->

		<div class="port-overview">
			<h1 class="port-overview-title">Hi, I'm Garrett!</h1>

			<p class="port-overview-text">I love the web and making great products! <span class="small">If you would like to work together please download my <a class="port-overview-link" href="files/GarrettKucinski_Resume2014.pdf">Resume</a> or visit me on <a class="port-overview-link" target="_blank" href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">LinkedIn</a> and get in touch! You can also find the source code for this site on my <a class="port-overview-link" target="_blank" href="https://github.com/GarrettDesigns">GitHub</a> page.</span></p>
		</div>
		<img class="myself" src="../images/me_BW2.png" height="700" width="650" alt="">
	</div>
</div>
<div class="content-container">
	<div class="portfolio" ng-controller="PortfolioController">
	<portfolio-item  ng-repeat="portItem in portList" item="portItem"></portfolio-item>
	</div>
</div>
