<div ng-controller="PortfolioDetailController">
  <div class="header-image-container">
    <img class="port-detail-image" src="{{portItem.details.image}}" alt="Detail image of {{portItem.details.title}}">
  </div>
  <div class="content-details-header">
    <h1 class="port-detail-title">{{portItem.details.title}}</h1>
    <a ng-href="{{portItem.details.siteUrl}}" ng-show="portItem.details.siteUrl" target="_blank" class="view-detail-button primary buttons">View Site</a>
  </div>
  <div class="content-container detail-page">
    <ul class="port-snapshot-images">
      <li class="snapshot-image" ng-repeat="detailImage in portItem.details.detailViews"><img src="{{detailImage}}" alt="Detailed view of the footer of {{portItem.details.title}}"></li>
    </ul>
    <div class="port-item-details">
      <h1>Overview</h1>
      <p class="port-detail-description">{{portItem.details.overview}}</p>
      <h1>Solution</h1>
      <p class="port-detail-solution">{{portItem.details.solution}}</p>
      <h1>Technology</h1>
      <ul class="tech-list">
      <li class="tech-list-item" ng-repeat="techItem in
       portItem.details.tech"><img src="{{techItem}}" height="50" width="50" alt="Image of technology icon"></li>
     </ul>
    </div>
  </div>
</div>
