<div class="weather-info">
	<h1 class="weather-info-location">Weather Summary for {{ timezone }}</h1>

	<div class="current-weather">
		<p><span class="current-weather-title">Current Conditions:</span> {{ summary }}</p>
		<p><span class="current-weather-title">Current Temperature:</span> {{ temperature }}</p>
		<p><span class="current-weather-title">Sunrise: </span>{{ sunrise }}</p>
		<p><span class="current-weather-title">Sunset: </span>{{ sunset }}</p>
		<p class="warnings">{{ alerts }}</p>
	</div>
</div>